# F#
[Bb]in/
[Oo]bj/
*.suo
*.pidb
*.userprefs
*.GhostDoc.xml
*.user
*.dll
*.pdb
*.cache
*.swp
*.swo
*.swn
*.pyc
*.orig

*~
pack/*

packages
paket-files/
.paket/load/

TestResults.xml
TestResult.xml

.DS_Store
/FSI-ASSEMBLY.dll.mdb
.fake/

fsautocomplete.zip
fsautocomplete.suave.zip
.dotnetsdk2_0/
.dotnetsdk/
