# F#
[Bb]in/
[Oo]bj/
*.suo
*.pidb
*.userprefs
*.GhostDoc.xml
*.user
*.dll
*.pdb
*.cache
*.swp
*.swo
*.swn
*.pyc
*.orig

*~
pack/*

packages
paket-files/
.paket/load/

TestResults.xml
TestResult.xml

.DS_Store
/FSI-ASSEMBLY.dll.mdb
.fake

fsautocomplete.zip
fsautocomplete.suave.zip
.dotnetsdk2_0/
.dotnetsdk/
.ionide
.idea/
/.vs/
msbuild.binlog
release.cmd
test/FsAutoComplete.Tests.Lsp/TestCases/FakeInterop/build.fsx.lock
coverage.xml
coverage
test/FsAutoComplete.Tests.Lsp/TestResults/

.tool-versions
BenchmarkDotNet.Artifacts/

*.sarif

tmp/*
.fsdocs/*