# F#
[Bb]in/
[Oo]bj/
repository/*
*.suo
*.pidb
*.userprefs
*.GhostDoc.xml
*.user
*.dll
*.pdb
*.cache
*.swp
*.swo
*.swn
*.pyc
*.orig
=======
*~
pack/*
lib/NUnit*
lib/FsUnit

FSharp.AutoComplete/test/unit/build
packages
.paket/paket.exe


.DS_Store
