version 7.2.1

framework: netstandard2.0, netstandard2.1,  net6.0, net7.0

source https://api.nuget.org/v3/index.json
# this is the FCS nightly feed, re-enable at your own risk!
#source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json
#source: ./libs
storage: none
strategy: min
lowest_matching: true


nuget Fantomas.Client >= 0.9
nuget FSharp.Compiler.Service >= 43.7.200
nuget Ionide.ProjInfo >= 0.61.3
nuget Ionide.ProjInfo.FCS >= 0.61.3
nuget Ionide.ProjInfo.ProjectSystem >= 0.61.3
nuget Ionide.ProjInfo.Sln >= 0.61.3
nuget Microsoft.Build >= 17.2 copy_local:false
nuget Microsoft.Build.Framework >= 17.4 copy_local:false
nuget Microsoft.Build.Utilities.Core >= 17.4 copy_local:false
nuget Microsoft.Build.Tasks.Core >= 17.4 copy_local: false
nuget Nuget.Frameworks copy_local: false
nuget FSharp.Analyzers.SDK
nuget ICSharpCode.Decompiler
nuget Mono.Cecil
nuget Newtonsoft.Json
nuget FSharpLint.Core
nuget FSharp.Core content: none
nuget System.Configuration.ConfigurationManager
nuget Serilog
nuget Serilog.Sinks.File
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Async
nuget Destructurama.FSharp
nuget FSharp.UMX
nuget FSharp.Formatting
nuget FsToolkit.ErrorHandling.TaskResult framework: netstandard2.1 ,net6.0, net7.0
nuget IcedTasks
nuget FSharpx.Async
nuget CliWrap
nuget System.CommandLine prerelease
nuget FSharp.Data.Adaptive
nuget Microsoft.NET.Test.Sdk
nuget Dotnet.ReproducibleBuilds copy_local:true

nuget Microsoft.NETFramework.ReferenceAssemblies
nuget Ionide.KeepAChangelog.Tasks copy_local: true
nuget Expecto
nuget Expecto.Diff
nuget YoloDev.Expecto.TestSdk
nuget AltCover
nuget GitHubActionsTestLogger
nuget Ionide.LanguageServerProtocol >= 0.4.12
nuget Microsoft.Extensions.Caching.Memory
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol >= 1.3.2




group Build
  source https://api.nuget.org/v3/index.json
  storage: none

  framework: net6.0, net7.0

  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.IO.Zip
  nuget Fake.DotNet.MsBuild
  nuget Fake.Api.GitHub
  nuget Microsoft.Build
  nuget MSBuild.StructuredLogger
  nuget Octokit 0.48 // there's an API break in 0.50, so we need to pin this to prevent errors
