name: Release

permissions:
  id-token: write
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    env:
      DOTNET_INSTALL_DIR: ".dotnet"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core
        uses:  actions/setup-dotnet@v4
        with:
          dotnet-version: |
           8.x
           9.x
           10.x

      - name: Restore tools
        run: dotnet tool restore

      - name: Run Build
        run: dotnet pack -c Release -o ./bin
        env:
          BuildNet9: true
          BuildNet10: true

      - name: Get Changelog Entry
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v1.1.0
        with:
          version: ${{ github.ref }}
          path: ./CHANGELOG.md

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: bin/*.nupkg
          token: ${{ secrets.GITHUB_TOKEN }}
          body: ${{ steps.changelog_reader.outputs.log_entry }}

          # Get a short-lived NuGet API key
      - name: NuGet login
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{secrets.NUGET_USER}}

      - name: Push packages
        run: dotnet nuget push bin/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{steps.login.outputs.NUGET_API_KEY}}
